* {
    margin: 0;
    padding: 0;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}

/***********************/
/******* HEADER *******/
/*********************/

header {
    background-color: #F0A83E;
    color: #FFFFFF;
}

#top-bar {
    background: #222222;
    color: #FFFFFF;
    display: flex;
}

#option-menu {
    display: flex;
}

#main-menu-bar {
    display: flex;
    height: 62px;
}

#main-menu {
    display: flex;
    justify-content: space-around;
    width: 400px;
    list-style-type: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 15px;
}

#main-menu img {
    margin-right: 2px;
}

.args {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
}

.espaniol {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
}

/***********************/
/******** LOGO ********/
/*********************/

.logo {
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    line-height: 23px;
}

.logo * {
    display: inline;
}
/*FRONT*/
#logo-1 p:nth-child(2) {
    color: #3C2313;
}
/*CAT&DOG*/
#logo-1 p:nth-child(3) {
    color: #FFFFFF;
}
/*FRONT*/
#logo-2 p:nth-child(2) {
    color: #FFFFFF;
}
/*CAT&DOG*/
#logo-2 p:nth-child(3) {
    color: #F0A83E;
}


/***********************/
/******** MAIN ********/
/*********************/

/************************/
/******** MAIN *********/
/******* BANNER *******/
/*********************/

.banner {
    position: relative;
    text-align: center;
    background-color: #A0DCB8;
}

.banner__background {
    width: clamp(1025px, 100%, 100%);
    height: clamp(410px, auto, auto);
    vertical-align: bottom;
}

.info {
    position: absolute;
    right: 1.5%;
    top: 38.2%;
}

.info > * {
    margin-bottom: 12px;
}

.info__title {
    background-color: #FFFFFF;
    border-radius: 5px;
    color: #3C2313;
    font-size: 30px;
    padding: 8px;
}

.info__subtitle {
    color: #3C2313;
    font-size: 16px;
    font-weight: 400;
}

.info__button {
    background-color: #F0A83E;
    border: 0;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 16px;
    padding: 15px;
}

@media (min-width: 1025px) {
    .info {
        right: unset;
        left: 63.4%;
    }
}

@media (max-width: 600px) {
    .info {
        top: 36%;
        left: 0;
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        width: 361px;
    }
    .info__subtitle {
        color: #FFFFFF;
    }
}

#categorias {
    display: flex;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#form1-buttons {
    display: flex;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

/***********************/
/****** PRODUCTS ******/
/*********************/

#products-img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.product {
    background-color: #FBFAF6;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

/**********************/
/******* FORMS *******/
/********************/

/*** CONTACTANOS ***/

#contactanos {
}

#contactanos h2 {
    color: #3C2313;
}

/*** SUSCRIBITE ***/

#suscribete {
    background-color: #F0A83E;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

#suscribete div:nth-child(1) {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

#suscribete div:nth-child(2) {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/**********************/
/******* ASIDE *******/
/********************/

aside {
    background-color: #3C2313;
    color: #FFFFFF;
}

/***********************/
/******* FOOTER *******/
/*********************/

footer {
    background-color: #222222;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    line-height: 15px;
    text-align: center;
    height: 21px;
}