* {
    margin: 0;
    padding: 0;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}

/***********************/
/******* HEADER *******/
/*********************/

header {
    background-color: #F0A83E;
    color: #FFFFFF;
}

#top-bar {
    background: #222222;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding-left: 74px;
    padding-right: 53px;
    align-items: center;
    height: 40px;
}

#top-bar > p {
    font-size: 12px;
}

.dropdown {
    display: flex;
}

.dropdown:first-child {
    padding-right: 12px;
}

.dropdown > p {
    font-size: 12px;
}

#option-menu {
    display: flex;
}

#main-menu-bar-wrapper {
    padding-left: 72px;
    padding-right: 24px;
}

#main-menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 128px;
}

#main-menu {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 15px;
}

#main-menu img {
    margin-right: 4px;
}

.args {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
}

.espaniol {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
}

#menu-logo {
    display: none;
}

@media (max-width: 1050px) {
    #top-bar {
        display: none;
    }
    #main-menu-bar-wrapper {
        padding-left: 32px;
        padding-right: 4px;
    }
    #logo-1 {
        margin-right: 40px;
    }
}

@media (max-width: 919px) and (min-width:885px) {
    #first-dog {
        display: none;
    }
}

@media (max-width: 808px) {
    nav > ul > li {
        display: none;
    }

    #menu-logo {
        display:inline-block;
        width: 30px;
    }

    #main-menu-bar-wrapper {
        padding-left: 32px;
        padding-right: 24px;
    }

    #logo-1 {
        margin-right: 12px;
    }
}

@media (max-width: 600px) {

    #main-menu-bar-wrapper {
        padding-left: 24px;
        padding-right: 24px;
    }

    #logo-1 {
        margin-right: 12px;
    }

}



/***********************/
/******** LOGO ********/
/*********************/

.logo {
}

.logo p {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 900;
    line-height: 23px;
}

.logo * {
    display: inline;
}
/*FRONT*/
#logo-1 p:nth-child(2) {
    color: #3C2313;
}
/*CAT&DOG*/
#logo-1 p:nth-child(3) {
    color: #FFFFFF;
}
/*FRONT*/
#logo-2 p:nth-child(2) {
    color: #FFFFFF;
}
/*CAT&DOG*/
#logo-2 p:nth-child(3) {
    color: #F0A83E;
}

li {
    display: flex;
    align-items: center;
    margin-right: 32px;
}

li > img {
    display: inline-block;
    align-self:flex-end;
}

li > p {
    font-size: 20px;
}


/***********************/
/******** MAIN ********/
/*********************/

/************************/
/******** MAIN *********/
/******* BANNER *******/
/*********************/

.banner {
    position: relative;
    text-align: center;
    background-color: #A0DCB8;
    width: 100%;
}

.banner__background {
    width: clamp(1025px, 100%, 100%);
    height: clamp(410px, auto, auto);
    vertical-align: bottom;
}

.info {
    position: absolute;
    right: 1.5%;
    top: 38.2%;
}

.info > * {
    margin-bottom: 12px;
}

.info__title {
    background-color: #FFFFFF;
    border-radius: 5px;
    color: #3C2313;
    font-size: 30px;
    padding: 8px;
}

.info__subtitle {
    color: #3C2313;
    font-size: 16px;
    font-weight: 400;
}

.info__button {
    background-color: #F0A83E;
    border: 0;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 16px;
    padding: 15px;
}

@media (min-width: 1025px) {
    .info {
        right: unset;
        left: 63.4%;
    }
}

@media (max-width: 600px) {
    .info {
        top: 36%;
        left: 0;
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        width: 361px;
    }
    .info__subtitle {
        color: #FFFFFF;
    }
}

#categorias {
    display: flex;
    margin-bottom: 0;
    margin-top: 10px;
}

#categorias > * {
    margin-left: 12px;
    margin-right: 12px;
}

#form1-buttons {
    display: flex;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

/***********************/
/****** PRODUCTS ******/
/*********************/

#products {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#products > * {
    margin-top: 20px;
}

#products h1 {
    color: #3C2313;
    font-size: 50px;
    font-weight: 700;
}


#products-img {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    width: 100%;
}

.product {
    background-color: #FBFAF6;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 32px;
}

.brown {
    color: #3C2313;
    font-weight: 700;
}

.orange {
    color: #F0A83E;
    font-weight: 700;
    padding-bottom: 8px;
}

/**********************/
/******* FORMS *******/
/********************/

/*** CONTACTANOS ***/

#contactanos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
}

#contactanos h2 {
    color: #3C2313;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 24px;
}

#contactanos input {
    background-color: #3C2313;
    border-radius: 20px;
    color:#FFFFFF;
    font-size: 16px;
    height: 48px;
    width: 360px;
    margin-bottom: 12px;
    text-indent: 16px;
}

#contactanos ::placeholder {
    color: #FFFFFF;
    opacity: 0.6;
    font-size: 12px;
}

#contactanos button {
    border-radius: 25px;
    color:#FFFFFF;
    height: 40px;
    margin-bottom: 64px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 16px;
    width: 120px;
}

#resetear {
    background-color: #8A8787;
    border: 5px solid #8A8787;
}

#enviar {
    background-color: #F0A83E;
    border: 5px solid #F0A83E;
}

/*** SUSCRIBITE ***/

.suscribete {
    background-color: #F0A83E;
    color: #FFFFFF;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;;

}

.suscribete-logo {
    display: flex;
    align-items: center;
}

.suscribete-logo img {
    height: 40px;
    margin-left: 20px;
    margin-right: 12px;
}

.suscribete-logo p {
    font-weight: 700;
    font-size: 20px;
}


.suscribete-form {
    display: flex;
    align-items: center;

}

.suscribete input {
    background-color: #FFFFFF;
    border-radius: 20px;
    border-style: solid;
    border-color:#FFFFFF;
    color:#000;
    font-size: 12px;
    height: 48px;
    width: 270px;
    text-indent: 16px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 5px;
}

.suscribete ::placeholder {
    color: #A0A0A0;
    opacity: 1;
    font-size: 12px;
}

.suscribete button {
    background-color:#3C2313;
    border-color: #3C2313;
    border-style: solid;
    border-radius: 20px;
    color:#FFFFFF;
    display: block;
    height: 44px;
    font-size: 12px;
    width: 80px;
    margin-left: 20px;
    margin-right: 40px;
}

/**********************/
/******* ASIDE *******/
/********************/
.aside-wrapper {
    background-color: #3C2313;
}

aside {
    background-color: #3C2313;
    color: #FFFFFF;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding-top: 48px;
    margin-left: 72px;
    margin-right: 72px;
}

aside .logo {
    margin-bottom: 48px;
}

.button-wrapper {
    display: flex;
    padding-bottom: 24px;
}

.footer-buttons h3 {
    font-weight: 700;
    font-size: 24px;
}

.footer-buttons p {
    color: #8A8787;
    font-size: 12px;
    font-weight: 700;
    margin-top: 4px;
}

.footer-button-1 {
    background-color:#8A8787;
    background-image: url('../img/location\ 1.png');
    background-repeat: no-repeat;
    background-position: center;
    border: 5px solid #786960;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-right: 12px;
}

.footer-button-2 {
    background-color:#8A8787;
    background-image: url('../img/phone-call\ 1.png');
    background-repeat: no-repeat;
    background-position: center;
    border: 5px solid #786960;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-right: 12px;
}

.footer-button-3 {
    background-color:#8A8787;
    background-image: url('../img/correo-electronico\ 1.png');
    background-repeat: no-repeat;
    background-position-x: 65%;
    background-position-y: 50%;
    border: 5px solid #786960;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-right: 12px;
}

@media (max-width: 900px) {
    .suscribete {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
    .suscribete button {
        margin-right: 0;
        margin-left: 8px;
    }
    .suscribete input {
        margin-left: 0;
    }
    .suscribete img {
        margin-left: 0;
    }
    .suscribete p {
        margin-right: 0;
    }

    aside {
        background-color: #3C2313;
        color: #FFFFFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 12px;
        margin-left: 0px;
        margin-right: 0px;
    }

        
    aside .logo {
        margin-bottom: 32px;
        margin-top: 24px;
    }

    .button-wrapper {
        display: flex;
        padding-bottom: 24px;
    }

    .footer-buttons h3 {
        font-weight: 700;
        font-size: 24px;
    }

    .footer-buttons p {
        color: #8A8787;
        font-size: 12px;
        font-weight: 700;
        margin-top: 4px;
    }

    .footer-button-1 {
        background-color:#8A8787;
        background-image: url('../img/location\ 1.png');
        background-repeat: no-repeat;
        background-position: center;
        border: 5px solid #786960;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        margin-right: 12px;
    }

    .footer-button-2 {
        background-color:#8A8787;
        background-image: url('../img/phone-call\ 1.png');
        background-repeat: no-repeat;
        background-position: center;
        border: 5px solid #786960;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        margin-right: 12px;
    }

    .footer-button-3 {
        background-color:#8A8787;
        background-image: url('../img/correo-electronico\ 1.png');
        background-repeat: no-repeat;
        background-position-x: 65%;
        background-position-y: 50%;
        border: 5px solid #786960;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        margin-right: 12px;
    }
        
}

@media (max-width:600px) {
    .suscribete input {
        height: 40px;
    }
    .suscribete button {
        height: 36px;
    }
}

/***********************/
/******* FOOTER *******/
/*********************/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222222;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 700;
    height: 24px;
    width: 100%;
}